<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo List</title>
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="/js/nprogress/nprogress.css">
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <input class="new-todo" placeholder="What needs to be done?" autofocus id="task">
        </header>
        <!-- This section should be hidden by default and shown when there are todos -->
        <section class="main">
            <input class="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list" id="todo-list">
                <!-- These are here just to show the structure of the list items -->
                <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

            </ul>
        </section>
        <!-- This footer should hidden by default and shown when there are todos -->
        <footer class="footer">
            <!-- This should be `0 items left` by default -->
            <span class="todo-count"><strong id="count">0</strong> item left</span>
            <!-- Remove this if you don't implement routing -->
            <ul class="filters">
                <li>
                    <a class="selected" href="#/">All</a>
                </li>
                <li>
                    <a href="#/active">Active</a>
                </li>
                <li>
                    <a href="#/completed">Completed</a>
                </li>
            </ul>
            <!-- Hidden if no completed items are left ↓ -->
            <button class="clear-completed">Clear completed</button>
        </footer>
    </section>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/template-web.js"></script>
    <script src="/js/nprogress/nprogress.js"></script>
    <script type="text/html" id="taskTpl">
        {{each tasks}}
        <li class="{{$value.completed ? 'completed' : ''}}">
            <div class="view">
                <input class="toggle" type="checkbox" {{$value.completed ? 'checked' : ''}}>
                <label>{{$value.title}}</label>
                <button class="destroy" data-id="{{$value._id}}"></button>
            </div>
            <input class="edit" value="Rule the web">
        </li>
        {{/each}}
    </script>
    <script type="text/javascript">
        var taskAry = [];
        var taskBox = $('#todo-list');
        var taskInp = $('#task');
        var strong = $('#count');
        $(document).on('ajaxStart', function() {
            NProgress.start()
        })
        $(document).on('ajaxComplete', function() {
            NProgress.done()
        })
        $.ajax({
            url: '/todo/task',
            type: 'get',
            success: function(response) {
                // console.log(response);
                taskAry = response;
                render();
                calcCount();
            }
        });

        $('#task').on('keyup', function(event) {
            if (event.keyCode == 13) {
                var taskName = $(this).val();
                if (taskName.trim().length == 0) {
                    alert('Please enter a task!');
                    return;
                }
                $.ajax({
                    type: 'post',
                    url: '/todo/addTask',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "title": taskName
                    }),
                    // data: {
                    //     title: taskName
                    // },
                    success: function(response) {
                        taskAry.push(response)
                        render();
                        calcCount();
                        $('#task').val('');
                        // console.log(response);
                    },
                    // error: function(response) {
                    //     console.log(response);
                    // }

                });
            }
        });

        function render() {
            var html = template('taskTpl', {
                tasks: taskAry
            });
            taskBox.html(html);
        };

        taskBox.on('click', '.destroy', function() {
            var id = $(this).attr('data-id');
            $.ajax({
                url: '/todo/deleteTask',
                type: 'get',
                data: {
                    _id: id
                },
                success: function(response) {
                    // console.log(response);
                    var index = taskAry.findIndex(item => item._id == id);
                    taskAry.splice(index, 1);
                    render();
                    calcCount();
                },
                // error: function(response) {
                //     console.log(response);
                // }
            })
        });

        taskBox.on('change', '.toggle', function() {
            const status = $(this).is(':checked');
            const id = $(this).siblings('button').attr('data-id');
            $.ajax({
                url: '/todo/modifyTask',
                type: 'post',
                data: JSON.stringify({
                    _id: id,
                    completed: status
                }),
                contentType: 'application/json',
                success: function(response) {
                    // console.log(response);
                    var task = taskAry.find(item => item._id == id);
                    task.completed = response.completed;
                    render();
                    calcCount();
                }
            });
        });

        taskBox.on('dblclick', 'label', function() {
            $(this).parent().parent().addClass('editing');
            $(this).parent().siblings('input').val($(this).text())
            $(this).parent().siblings('input').focus();
        });

        taskBox.on('blur', '.edit', function() {
            var newTaskName = $(this).val();
            var id = $(this).siblings().find('button').attr('data-id');
            $.ajax({
                url: '/todo/modifyTask',
                type: 'post',
                data: JSON.stringify({
                    _id: id,
                    title: newTaskName
                }),
                contentType: 'application/json',
                success: function(response) {
                    var task = taskAry.find(item => item._id == id);
                    task.title = response.title;
                    render();
                    calcCount();
                }
            })
        });

        function calcCount() {
            var count = 0;
            var newAry = taskAry.filter(item => item.completed == false);
            count = newAry.length;
            strong.text(count)
        }
    </script>

</body>

</html>